<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
       <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
     </handlers>

     <!-- use URL rewriting to redirect the entire branch of the URL namespace
     to hello.js node.js application; for example, the following URLs will 
     all be handled by hello.js:
     
         http://localhost/node/express/hello/foo
         http://localhost/node/express/hello/bar
         
     -->

     <rewrite>
       <rules>
         <rule name="hello">
           <match url="hello/*" />
           <action type="Rewrite" url="index.js" />
         </rule>
       </rules>
     </rewrite>

        <defaultDocument>
            <files>
                <add value="public/index.html" />
            </files>
        </defaultDocument>
        <security>
            <authentication>
                <anonymousAuthentication enabled="true" />
                <windowsAuthentication enabled="false" />
            </authentication>
        </security>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
